canvas#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: 1px solid black;
}

.wthBorder{
  text-shadow: 
    -2px -2px 0px var(--edgeColor),
    -1px -2px 0px var(--edgeColor),
    0px -2px 0px var(--edgeColor),
    1px -2px 0px var(--edgeColor),
    2px -2px 0px var(--edgeColor),
    2px -1px 0px var(--edgeColor),
    2px  0px 0px var(--edgeColor),
    2px  1px 0px var(--edgeColor),
    2px  2px 0px var(--edgeColor),
    1px  2px 0px var(--edgeColor),
    0px  2px 0px var(--edgeColor),
    -1px  2px 0px var(--edgeColor),
    -2px  2px 0px var(--edgeColor),
    -2px  1px 0px var(--edgeColor),
    -2px  0px 0px var(--edgeColor),
    -2px -1px 0px var(--edgeColor)!important;
}

img.coin-cursor {
  height: 80px;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  opacity: 0;
}

#mainBody.scrapped, 
#mainBody.scrapped .scrape-btn, 
#mainBody.scrapped .rule-btn {
  cursor: none;
}

#mainBody.scrapped .rule-btn {
  pointer-events: none;
}

#mainBody.scrapped img.coin-cursor {
  opacity: 1;
}

/* -------------------------- */

#mainBody {
  background-position: 0% 0%;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.mbContainer {
  width: 62%;
  height: 91%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}

.leftCon, .rightCon {
  position: relative;
  height: 100%;
}

.mbContainer .leftCon {
  width: 83%;
  padding-top: 86px;
}

/* ---------menu btn-------------- */
.menuBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuBtn .home-btn,
.menuBtn .div-volume,
.menuBtn .speaker-btn,
.menuBtn .mute-btn {
  height: 50px;
  width: 50px;
}

.menuBtn .home-btn,
.menuBtn .speaker-btn,
.menuBtn .mute-btn {
  position: relative;
  background: linear-gradient(to bottom, #ffe3ca, #ebebeb);
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  padding: 7px;
  margin-right: 10px;
  box-shadow: 0px 4px 10px rgba(51, 24, 76, 0.7);
}

.menuBtn .home-btn::after,
.menuBtn .speaker-btn::after,
.menuBtn .mute-btn::after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #83448e, #1e1a4c);
  height: 90%;
  width: 90%;
  border-radius: 7px;
}

.menuBtn .home-btn img,
.menuBtn .speaker-btn img,
.menuBtn .mute-btn img {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  filter: invert(100%);
}

.menuBtn .div-volume {
  position: relative;
}

.menuBtn .div-volume.mute .speaker-btn,
.menuBtn .div-volume.speaker .mute-btn {
  display: none;
}

.menuBtn .div-volume.mute .mute-btn,
.menuBtn .div-volume.speaker .speaker-btn {
  display: block!important;
}


.menuBtn .speaker-btn,
.menuBtn .mute-btn{
  position: absolute;
  top: 0;
  left: 0;
}

/* ----------date time event------------- */
p.datetime-event {
  font-size: 25px;
  font-weight: 700;
  color: white;
  position: relative;
  left: 15px;
  margin-top: 5px!important;
}

/* ----------directions con------------- */
.direction-con {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.levelPoints-con {
  background: #593f5e;
  border: 3px solid #fff;
  border-radius: 10px;
  width: 46%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5px;
  padding: 10px;
}

.levelPoints-con p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

/* ----------gameplay btn------------- */
.gameplayBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.scrape-btn, .rule-btn {
  border-radius: 18px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 9px 15px;
  cursor: pointer;
  width: 180px;
  box-shadow: 0px 4px 10px rgba(87, 10, 52, 0.32);
}

.scrape-btn {
  background: linear-gradient(to bottom, #ff79c6, #d11444);
  margin-right: 20px;
}

.rule-btn {
  background: linear-gradient(to bottom, #8c47db, #491b7e);
}

.ps-txt {
  position: relative;
  left: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #573b5e;
  margin-top: 10px!important;
}

/* -------egg scratch con---------------- */
.eggScratch-con {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  justify-content: space-evenly;
  grid-row-gap: 15px;
  margin-top: 15px;
}

.eggScratch-con .egg-item {
  background-position: 0% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-y: hidden;
  position: relative;
}

.eggScratch-con .egg-item,
.eggScratch-con .egg-item .egg-cover{
  width: 125px;
  height: 146.35px;
}

.eggScratch-con .egg-item .egg-cover{
  opacity: 1;
  transition: opacity 0.3s ease;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: scale(0.9);
}

.eggScratch-con .egg-item .egg-ico {
  height: 70px;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------right con---------------- */
.mbContainer .rightCon {
  width: 17%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 49px;
}

.mbContainer .rightCon .grid {
  height: 64%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 20px;
}

.mbContainer .rightCon .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mbContainer .rightCon .item .icon {
  width: 45px;
  margin-right: 2px;
}

.mbContainer .rightCon .item p {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

/* --------------------MOdal--------------------- */
.giftModal-con {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 70%);
  display: none;
}

.giftmodal-outer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.giftmodal-inner {
  position: relative;
}

img.giftbg {
  height: auto;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.giftmodal-info {
  height: 371px;
  width: 444px;
  position: relative;
  z-index: 6;
  color: #ffffffff;
  text-align: center;
  padding: 40px 125px 95px 98px;
}

p.gift-txt {
  font-size: 75px;
  font-weight: 700;
  filter: drop-shadow(0 0 5px #c58ff5);
  transform: scale(1);
}

p.gift-txt.scale {
  animation: scale .7s ease-in-out forwards;
}

@keyframes scale {
  0% { transform: scale(1); } 
  25% { transform: scale(1.3); } 
  50% { transform: scale(1);}
  75% { transform: scale(1.1); } 
  100% { transform: scale(1); }
}

img.fr01, img.fr02, img.fr03, img.fr04, .shineCon01, .shineCon02 {
  position: absolute;
  top: 25px; 
  right: 126px; 
  transform: scale(0);
}


img.fr01.show { animation: fr01 .9s ease-in-out forwards;}
img.fr02.show { animation: fr02 .9s ease-in-out forwards;}
img.fr03.show { animation: fr03 .9s ease-in-out forwards;}
img.fr04.show { animation: fr04 .9s ease-in-out forwards;}

@keyframes fr01 {
  0% { top: 25px; right: 126px; transform: scale(0);} 
  100% { top: -47px; right: -71px; transform: scale(1);}
}

@keyframes fr02 {
  0% { top: 25px; left: 126px; transform: scale(0);} 
  100% { top: 64px; left: -94px; transform: scale(0.9);}
}

@keyframes fr03 {
  0% { top: 25px; left: 126px; transform: scale(0);} 
  100% { top: -92px; left: -29px; transform: scale(0.4);}
}

@keyframes fr04 {
  0% { top: 25px; right: 126px; transform: scale(0);
  } 100% { top: -126px; right: 84px; transform: scale(0.5);}
}

.shineCon01, .shineCon02 {
  height: 40px;
  width: 150px;
}

img.shine {
  width: 15px;
  position: absolute;
}

.shineCon01.show { animation: shineCon01 .9s ease-in-out forwards;}
.shineCon02.show { animation: shineCon02 .9s ease-in-out forwards;}

@keyframes shineCon01 {
  0% { top: 25px; right: 126px; transform: scale(0);
  } 100% { top: 36%; right: -9%; transform: scale(1);}
}

@keyframes shineCon02 {
  0% { top: 25px; right: 126px; transform: scale(0);
  } 100% { top: 18%; left: -10%; transform: scale(1);}
}


img.shine.sh01 { top: 0%; left: 13%; transform: scale(0.7); }
.shineCon02 img.shine.sh01 { top: -25%; left: 13%; }
img.shine.sh02 { top: 40%; left: 25%; }
img.shine.sh03 { top: 8%; left: 42%; transform: scale(0.7); }
img.shine.sh04 { top: 17%; left: 64%; transform: scale(1.1); }
.shineCon02 img.shine.sh04 { top: 47%; left: 56%; }

.ruleModal-con {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 70%);
  display: none;
}

.rulemodal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.rulemodal-outer {
  height: 641px;
  width: 993px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 150px 163px 92px 148px;
  font-size: 16px;
  font-weight: 600;
  pointer-events: none;
}

.rulemodal-dets {
  pointer-events: auto;
}

.rulemodal-dets p {
  margin-bottom: 10px;
}

.bigtxt{
  font-size: 25px;
}

.rulemodal-dets p:last-child {
  margin-bottom: 0px;
}

.mtop30 {
  margin-top: 30px!important;
}